:root {
    --text-color: rgb(0, 0, 0);
    --text-color-white: rgb(255, 255, 255);
    --primary-color: #F92E15;
    --container-padding: 32px;
  }
  
  * {
    box-sizing: border-box;
  }
  
  body {
    font-family: "Inter", Helvetica, sans-serif;
    color: var(--text-color);
    font-size: 16px;
    line-height: 120%;
    margin: 0;
  }
  
  header {
    font-family: "Geologica", Helvetica, sans-serif;
    max-width: 1000px;
    font-size: 16px;
    line-height: 100%;
    margin: 0 auto;
  }
  
  .navTop{
    display: flex;
    align-items: center;
    gap: 84px;
    margin: 24px 32px 48px 32px;
  }
  
  .logo {
    text-transform: uppercase;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    color: var(--primary-color);
    margin-left: 32px;
  }
  
  .navLinks {
    display: flex;
    align-items: center;
    gap: 38.4px;
  }
  
  .navIcons {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-left: auto;
  }
  
  .navLinks a, .footerColumn a {
    color: var(--text-color);
    text-decoration: none;
  }
  
  .navLinks a:hover, .footerColumn a:hover {
    color: var(--primary-color);
  }
  
  .search, .user, .hasBadge {
    display: flex;
    align-items: center;
  }
  
  .hasBadge {
    position: relative;
  }
  
  .cartBadge {
    position: absolute;
    left: 50%; 
    bottom: 50%; 
    width: 17px;
    border-radius: 50%; 
    background: var(--primary-color); 
    color: var(--text-color-white); 
    text-align: center;
    font-size: 12px; 
    font-weight: bold; 
    line-height: 17px; 
    display: flex; 
    align-items: center;
    justify-content: center;
}
  
  section {
    display: flex;
    text-align: left;
    flex-direction: column;
    margin: 0 auto;
    padding: 0 32px;
    max-width: 1000px;
    position: relative;
  }
  
  h1 {
    font-family: "Geologica", Helvetica, sans-serif;
    font-size: 100px;
    font-weight: bold;
    line-height: 105%;
    letter-spacing: -3px;
    margin-bottom: 24px;
    color: var(--primary-color);
  }
  
  .textButtonContainer {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    margin-bottom: 32px;
    gap: 20px;
  }
  
  .textButtonContainer p {
    line-height: 130%;
    max-width: 70%;
  }
  
  .textButtonContainer button {
    display: flex;
    width: 222px;
    height: 50px;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    background: var(--primary-color);
    color: var(--text-color-white);
    border: none;
    font-family: "Inter", Helvetica, sans-serif;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.3s ease;
  }
  
  button:hover {
    background: #d12712;
  }
  
  .heroImage {
    width: 100%;
    margin: 0 auto;
    margin-bottom: 120px;
  }
  
  .heroBadge {
    position: absolute;
    right: 68px; 
    top: 408px; 
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .heroBadgeImg {
    width: 154px;
    height: 153px;
    fill: var(--primary-color);
    stroke-width: 3.733px;
    stroke: var(--text-color-white);
  }
  
  .heroBadgeText {
    color: var(--text-color-white);
    text-align: center;
    font-family: "Geologica", Helvetica, sans-serif;
    font-size: 24.834px;
    font-weight: 900;
    line-height: 87%;
    transform: rotate(15deg); 
    text-transform: uppercase;
    position: absolute;
  }
  
  footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 1000px;
    margin: 0 auto;
    margin-bottom: 72px;
    padding: 0px 32px;
    font-family: "Geologica", Helvetica, sans-serif; 
  }
  
  .footerColumn {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
  
  .footerColumn a {
    color: var(--text-color);
    text-decoration: none;
    line-height: 120%;
  }
